@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $lavender;

  padding: 80px 35%;
  gap: 32px;

  text-align: center;
}

.title {
  text-transform: capitalize;
}

.description {
  color: $medium-gray;
}
