.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 148px;

  margin: 0 80px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
