@import "@styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $black;
  color: $light;

  .button {
    background-color: $background-light;
    margin: 0 31px;

    &:hover {
      background-color: $light-gray;
    }
  }
}

.title {
  padding: 18px 56px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 24px;

  flex: 1;
}
