@import "@styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $dark;
}

.title {
  color: $white;
  padding: 18px 56px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 24px;

  flex: 1;
}

.link {
  color: $white;
  position: relative;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
  }

  &:hover {
    color: lighten($white, 20%);

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.button {
  background-color: $background-light;
  margin: 0 31px;

  &:hover {
    background-color: $light-gray;
  }
}
