@import "@styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 52px 80px;

  background-color: $black;
  color: $light;
}

.topContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.middleContainer {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background-color: $dark-blue;

  margin: 48px 0;
  padding: 80px 64px;

  gap: 64px;
}

.bottomContainer {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text {
  color: $medium-gray;
}

.inputContainer {
  display: flex;

  gap: 24px;
}

.socialNetworkContainer {
  display: flex;

  gap: 26px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 24px;

  flex: 1;
}

.button {
  width: 323px;
}

.title {
  width: 564px;
  text-align: left;
}
