.banner {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding: 16px;
  width: 400px;
  text-align: center;
}

.text {
  width: 360px;
  text-align: center;
}

.button {
  margin: 32px;
}
